<div class="row">
  <div class="col-auto">
  <h2>Hi {{user.name}}! </h2>
  </div>
</div>
<br>
{{#if blogposts.length}}
<div class="card flex-column">
  {{#each blogpost as |blogpost|}}
  {{> editItem blogpost}}
  {{/each}}
</div>
{{/if}}